<!DOCTYPE html>
<html>
<head>
	<title>administration page</title>
	<link rel='stylesheet' href='/public/styles/styles.css' />
</head>
<body>
	<h1> Experiments administration board</h1>
	<div>
	<section class="xpholderrunning">
		<h2>Running Experiments</h2>
		
		<ul>
		<% exps.forEach(function(exp, index){ if(exp.isRunning){ %>
			
			<section class="experiment">
				<p>Name: <%= exp.expName %></p>
				<p>Type: <%= exp.expType %></p>
				<p>Is Running : <%= exp.isRunning %></p>
				<p>Start Date : <%= exp.startTime %></p>
			
				<form action="/admin/delete/<%= exp.expName %>" method="post">
					<button class="button" type="submit">Delete</button>
				</form>
				<form action="/admin/stop/<%= exp.expName %>" method="post">
					<button class="button" type="submit">Stop XP</button>
				</form>
				<form action="/admin/write/<%= exp.expName %>" method="post">
					<button class="button" type="submit"> Write XP Results</button>
				</form>
			</section>
		<%} }); %>
		</ul>
	</section>
	<section class="xpholdernotrunning">
		<h2>Not Running Experiments</h2>
		
		<ul>
		<% exps.forEach(function(exp, index){ if(!exp.isRunning){ %>
			
			<section class="experiment">
				<p>Name: <%= exp.expName %></p>
				<p>Type: <%= exp.expType %></p>
				<p>Is Running : <%= exp.isRunning %></p>
				<p>Start Date : <%= exp.startTime %></p>
			
				<form action="/admin/delete/<%= exp.expName %>" method="post">
					<button class="button" type="submit">Delete</button>
				</form>
				<form action="/admin/start/<%= exp.expName %>" method="post">
					<button class="button" type="submit">Start XP</button>
				</form>
				<form action="/admin/write/<%= exp.expName %>" method="post">
					<button class="button" type="submit"> Write XP Results</button>
				</form>
			</section>
		<% }}); %>
		</ul>
	</section>
	</div>
	<div>
		<section class="xpholdercreate">
		<h2>Create a new Experiment</h2>
		<form action="/admin/add/" method="post">
			<p>
				
				<label for="xpName">Experiment Name</label>
                <input type="text" name="xpName" id="xpName"/>
                <br>
                <label for="xpName">Type</label>
                <select name="xpType">
				<option value="WEB">WEB</option>
				<option value="LOCAL">LOCAL</option>
				<option value="AMAZON">AMAZON</option>
				</select>
                <br>
                <input class="button" type="submit" />
			</p>
		</form>
		<section class="xpholder">
	</div>
</body>
</html>